<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  </head>
  <body>
    {{!-- <button id="download-to-svg">DOWNLOAD</button> --}}
    {{!-- <input type="range" id="numrows" min="1" max="10" value="7"> --}}
    
    
    <div>
      <canvas id="content" resize></canvas>
    </div>

    <script type="text/javascript">
      
    </script>
  </body>
</html>